@import "colores";
@import "sizes";

.btn {
    color: $color1;
    background-color: $color2;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: $color1;
    border: $sizes1 solid $color2;
    padding: $sizes6 $sizes18;
    font-size: $sizes8;
    font-weight: 600;
    background: transparent;
    position: relative;
    cursor: pointer;
    animation-duration: 2.5s;
}

.hero-btn:hover{
    border: $sizes1 solid $color1;
    background: #c4d3df;
    transition: 1s;
}

.red-btn{
    border: $sizes1 solid $color9;
    background: transparent;
    color: $color1;
}

.red-btn:hover{
    color:$color1;
    background:$color2;
}