@import "colores";
@import "sizes";


h3{
    color: $color5;
    font-size: $sizes12;
    text-align: center;
    font-weight: 550;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: $sizes12;
    margin-top: $sizes12;
}

.card {
    margin: $sizes5;
    background-color: $color7;
}

.card:hover{
    box-shadow: $sizes4 $sizes4 $sizes20 $sizes4 $color5;
}

