@import "colores";

h3{
    color: $color;
    font-size: 20px;
    text-align: center;
    font-weight: 550;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

.card {
    margin: 10px;
}

.card:hover{
    box-shadow: 6px 6px 40px 6px $color5;
}

