@import "colores";
@import "sizes";

.choose .titlepage h6 {
    padding-bottom: $sizes5;
}

.choose .titlepage span {
    font-size: $sizes12;
    color: $color1;
}

.choose .choose_box {
    text-align: center;
}

.choose .choose_box span{
    color: $color9;
    background-color: $color1;
    border-radius: $sizes24;
    border: $color9 solid $sizes2;
    padding: $sizes12 $sizes14;
    display: inline-block;
    font-size: $sizes12;
    margin-bottom: $sizes12;
}

.choose .choose_box span {
    color: $color2;
    font-size: $sizes9;
    line-height: $sizes16;
    margin-bottom: $sizes12;
}