@import "colores";
@import "sizes";

.footer{
    width: 100%;
    text-align: center;
    padding: $sizes12 0;
    margin-top: auto;
}

h4 {
    font-size: $sizes15;
}

.footer h4{
    margin-bottom: $sizes3;
    font-weight: 600;
    color: $color9;
}

.icons .fab{
    color: $color1;
    margin: 0 $sizes7;
    cursor: pointer;
    padding: $sizes11 0;
    font-size: $sizes19;
}

.icons .fab:hover{
   transform: translateY(-15px);
   transition: 1s;
   cursor: pointer;
}

#copy {
    font-size: $sizes12;
}

