@import "sizes";

.about-us{
    width: 80%;
    margin: auto;
    padding-top: $sizes23;
    padding-bottom: $sizes21;
}

.about-col{
    flex-basis: 48%;
    padding: $sizes17 $sizes1;
}

.about-col img{
    width: 100%; 
}

.about-col h1{
    padding-top: 0;
}

.about-col p{
    padding: $sizes8 0 $sizes13;
}

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: $sizes24;
}