@import "colores";
@import "sizes";

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: $sizes24;
    text-align: center;
}

.testimonials-col{
    flex-basis: 44%;
    border-radius: $sizes5;
    margin-bottom: 5%;
    text-align: left;
    background: rgba(196, 211, 223, 0.4);
    padding: $sizes13;
    cursor: pointer;
    display: flex;
}

.testimonials-col img{
    height: $sizes22;
    margin-left: $sizes3;
    margin-right: $sizes17;
    border-radius: 50%;
}

.testimonials-col p{
    padding: 0; 
}

.texto-testimonios {
    padding: 0;
}

.testimonials-col h6{
    margin-top: $sizes8;
    text-align: left;
    font-size: $sizes12;
}

.testimonials-col .fas{
    color: $color5;
}





