@import "colores";

#testimonios {
    margin: 70px 0;
}

.testimonials{
    margin-top: 20px;
    margin-bottom: 50px;
    margin: 20px;
    text-align: center;
}

.testimonials img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 10px;
}

.usario {
    display: inline-block;
    font-size: 18px;
}

.text {
    margin: 20px;
    color: $color1;
    font-size: 20px;
    text-align: center;
}



