@import "colores";
@import "sizes";

h1{
    color: $color9;
    text-align: center;
    font-size: $sizes19;
    margin-top: $sizes12;
    animation-duration: 10s;
    font-weight: 500;
}

.animacionH1 {
    animation-duration: 2s;
}

p{
    color: $color1;
    text-align: center;
    font-size: $sizes12;
    margin: $sizes12;
}

h2 {
    color: $color9;
    text-align: center;
    font-size: $sizes18;
    margin-top: $sizes17;
}

h6 {
    color: $color9;
    text-align: center;
    font-size: $sizes19;
    margin-top: $sizes17;
}

